// === FADE ===
.fade-in {
    animation: fade-in 0.5s ease-in-out forwards;
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 100%;
        }
    }
}
.fade-out {
    animation: fade-out 0.5s ease-in-out forwards;
    @keyframes fade-in {
        0% {
            opacity: 100%;
        }
        100% {
            opacity: 0;
        }
    }
}

// === SLIDE ===
.slide-in {
    animation: slide-in 0.5s ease-in-out forwards;
}
.slide-out {
    animation: slide-out 0.5s ease-in-out forwards;
}
.hello{
    color: red;
}