// === YELLOW ===
$yellow: #febc12;
.yellow {
    color: #febc12;
}

// === BLACK ===
$black: #000000;
.black {
    color: #000000;
}

// === GREY ===
$grey: #151313;
.grey {
    color: #151313;
}

// === WHITE ===
$white: #ffffff;
.white {
    color: #ffffff;
}

// === TRANSPARENT ===
$transparent: rgba( 0, 0, 0, 0 );
.transparent {
    color: rgba( 0, 0, 0, 0 );
}