// === HEADINGS ===
h1 {
    font-family: 'Roboto';
    font-size: $xl;
    font-weight: 700;
}

h2 {
    font-family: 'Roboto';
    font-size: $lg;
    font-weight: 700;
}

h3 {
    font-family: 'Roboto';
    font-size: $md;
    font-weight: 700;
}

// === TEXT ===
p {
    font-family: 'Roboto';
    font-size: $sm;
    font-weight: 400;
}

.link {
    font-family: 'Roboto';
    font-size: $sm;
    font-weight: 400;
}

// === BUTTON ===
.button {
    font-family: 'Roboto';
    font-size: $sm;
    font-weight: 400;
}