.fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.fade-out {
  animation: fade-out 0.5s ease-in-out forwards;
}
@keyframes fade-in {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

.slide-in {
  animation: slide-in 0.5s ease-in-out forwards;
}

.slide-out {
  animation: slide-out 0.5s ease-in-out forwards;
}

.hello {
  color: red;
}

.yellow {
  color: #febc12;
}

.black {
  color: #000000;
}

.grey {
  color: #151313;
}

.white {
  color: #ffffff;
}

.transparent {
  color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  background: black;
}

main {
  display: grid;
  grid-template-columns: 12fr;
  gap: 24px;
  padding: 0 80px;
}

footer, nav {
  padding: 0 80px;
}

h1, h2, h3, p, .link, .button {
  font-family: "Roboto";
  color: white;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.link {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.button {
  font-size: 16px;
  font-weight: 400;
  padding: 16px 64px;
  border-radius: 16px;
  background: white;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: black;
  text-decoration: none;
}

.button2 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.bold {
  font-weight: bold;
}

nav {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 24px 24px;
  background: rgba(26, 26, 26, 0.6);
  backdrop-filter: blur(8px);
  height: 80px;
  width: calc(100vw - 160px);
  z-index: 9;
}
nav .nav-left {
  width: 176px;
  display: grid;
  place-items: center left;
}
nav .nav-left .nav-logo {
  height: 60px;
}
nav .nav-mid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 32px;
}
nav .nav-mid .link {
  color: white;
}
nav .nav-mid .link p {
  font-size: 24px;
}
nav .nav-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #151313;
  position: relative;
  padding-top: 48px;
  padding-bottom: 24px;
}
footer hr {
  width: 60px;
}
footer .footer-border {
  border-radius: 0px 0px 24px 24px;
  background: black;
  position: absolute;
  width: 100%;
  height: 24px;
  top: 0;
}
footer section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social {
  background-color: #febc12;
  display: block;
  height: 48px;
  width: 48px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: grid;
  place-items: center;
}

.hero {
  grid-column: 1/span 12;
  margin: 0 -80px;
  position: relative;
}
.hero > img {
  border-radius: 0px 0px 24px 24px;
  position: relative;
  width: 100%;
  height: auto;
}
.hero > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: end center;
}
.hero > div > div {
  place-self: end;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  gap: 24px;
  margin-bottom: 24px;
}

.about {
  grid-column: 2/span 11;
  margin: 5vh 0;
}
.about > div {
  padding-left: 36px;
  border-left: 3px solid white;
}

.gallery-section {
  grid-column: 1/span 12;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}
.gallery-section .gallery-text {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 8px;
  background-color: #151313;
  border-radius: 24px;
  grid-column: span 6;
  padding: 36px;
}
.gallery-section .gallery-text h3,
.gallery-section .gallery-text p {
  margin: 0;
}
.gallery-section .gallery-image {
  border-radius: 24px;
  grid-column: span 3;
  overflow: hidden;
  aspect-ratio: 1/1;
}
.gallery-section .gallery-image img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=master.css.map */